<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Compiled and minified CSS -->
    <!-- <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
    <!-- Compiled and minified JavaScript -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

<!-- Dropdown Structure Start -->

     <!-- Dropdown Structure End-->
   <ul id="dropdown1" class="dropdown-content">
     <li><a  href="/editteacher">Edit</a></li>
     <li><a id="delete" href="teacherdelete">delete</a></li>
     <li class="divider"></li>
     <li><a  href="/Logout">Logout</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper  orange darken-1">
        <a href="/" class="brand-logo">Logo</a>

        <ul class="right hide-on-med-and-down">
          <li><a class="myclass">Sass</a></li>
          <li><a href="/login">Teachers</a></li>
          <li><a href="/teachersub">Add Subject/Marks</a></li>
          <li><a href="/att">Add Attendance</a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><%=user%><i class="material-icons right">settings</i></a></li>
        </ul>
       </div>
       <div  id="tabs"class="row">

  </div>
    </nav>
